{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<main class="profile-container container" id="bg-image">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-4 bg-light">
            {% if user.is_authenticated %}
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="mt-2 fw-bold">{% block title %} {{ user.profile }} {% endblock %}</h5>
                    <img class="rounded-circle" id="profile-image" src="{{ user.profile.profile_image.url }}" alt="User profile image">
                </div> 
                <div class="card-body pl-5">
                    <p><span class="fw-bold">Username:</span> {{ user.username }}</p>
                    <p><span class="fw-bold">Email:</span> {{ user.email }}</p>
                    <p><span class="fw-bold">First Name:</span> {{ user.first_name }}</p>
                    <p><span class="fw-bold">Last Name:</span> {{ user.last_name }}</p>
                    <p><span class="fw-bold">Phone:</span> {{ user.profile.phone_number }}</p>
                </div>
            </div>
            <div class="form-group my-3 text-center">
                <a href="{% url 'update_profile' %}" class="btn bg-primary text-white">
                    Update
                </a>
                <a href="{% url 'delete_profile' %}" class="btn bg-primary text-white">
                    Delete
                </a>
                   
            </div>
            {% endif %}
        </div> 
         <div class="col-md-4">
             <div class="card mt-3">
                 <div class="card-body">
                     <h5 class="text-center fw-bold">Booking List</h5>
                     {% for booking in my_bookings %}
                     <a href="{% url 'booking_detail' booking.pk %}">
                         <div class="card p-2 mb-3">
                             <p class="card-text">
                                 <span class=" fw-bold">Session Name:</span>
                                 {{ booking.session_name}}
                             </p>
                             <small class="card-text text-muted">
                                 <span>Date:</span>
                                 {{ booking.date }}
                             </small>
                         </div>
                     </a>
                     {% endfor %}
                 </div>
             </div>
         </div>
    </div>
</main>

{% endblock content %}

