{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<main class="profile-container container" id="bg-image">
    <div class="row justify-content-center">
        <div class="col-md-6 bg-light">
            {% if user.is_authenticated %}
            <div class="row text-center">
                <div class="col-12">
                    <h3 class="my-5 fw-bold">{% block title %} {{ user.profile }} {% endblock %}</h3>
                    <img class="rounded-circle" id="profile-image" src="{{ user.profile.profile_image.url }}" alt="">
                </div>  
            </div>

            <div class="row justify-content-center my-5">
                <div class="col-sm-12 col-lg-8 text-center">
                    <p><span class="fw-bold">Username:</span> {{ user.username }}</p>
                    <p><span class="fw-bold">Email:</span> {{ user.email }}</p>
                    <p><span class="fw-bold">First Name:</span> {{ user.first_name }}</p>
                    <p><span class="fw-bold">Last Name:</span> {{ user.last_name }}</p>
                    <p><span class="fw-bold">Phone:</span> {{ user.profile.phone_number }}</p>
                </div>
            </div> 
             <div class="border-top my-3 py-3 text-center">
                 <p class="pt-3">
                     <a class="my-3 fw-bold" href="{% url 'update_profile' %}"><strong>Update</strong></a>
                     <span>your profile here.</span>
                 </p>
             </div>
            {% endif %}
        </div>   
    </div>
</main>


<section class="container">
    <div class="row align-items-center justify-content-center">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {% for booking in my_bookings %}
                    <a href="{% url 'booking_detail' booking.pk %}">
                        <div class="card p-2 mb-3">
                            <p class="card-text fs-6">
                                <span class=" fw-bold">Session name:</span>
                                {{ booking.session_name}}
                            </p>
                            <p class="card-text fs-6">
                                <span class=" fw-bold">Date:</span> 
                                {{ booking.date }}
                            </p>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

