{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}


<main class="profile-container container">
    <div class="row justify-content-center">
        <div class="col-md-6 bg-light">
            {% if user.is_authenticated %}
            <div class="row text-center">
                <div class="col-12">
                    <h3 class="my-3">{{ user }}</h3>
                    <img class="rounded-circle" id="profile-image" src="{{ user.profile.profile_image.url }}" alt="User profile image">
                </div>
            </div>
            <form action="" method="POST" enctype="multipart/form-data" class="my-3">
                {% csrf_token %}
                <div class="form-group my-3">
                    {{ user_profile_form|crispy }}
                    {{ profile_update_form|crispy }}
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-primary" type="submit">Update Profile</button>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
</main>


{% endblock content %}