{% extends 'base.html' %}

{% block content %}

<main class="register-container container">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-6 bg-light">
            <div class="text-center pt-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                    class="bi bi-person-check-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                </svg>
            </div>
            <div class="text-center">
                <p class="my-3">Thank you!</p>
            </div>
            <div class="text-center">
                <p class="my-3">Your registration is sucessful.</p> 
            </div>
            <div class="mb-3 pb-3 text-center">
                <span>Please</span>
                <a class="my-3" href="{% url 'login' %}"><strong>Login</strong></a>
                <span>to your account.</span>
            </div>
        </div>
    </div>
</main>

{% endblock content %}