{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}



<main class="profile-container container">
    <div class="row justify-content-center">
        <div class="col-md-6 bg-light">
            <div class="row">
                <img class="user-profile-img" src="" alt="">

            </div>
            {% if user.is_authenticated %}
            <div class="row text-center">
                <h3 class="my-3">{% block title %} {{ user }} Profile {% endblock %}</h3>
                <img class="rounded-circle" src="{{ user.profile.profile_image.url }}" alt="">
                <p>Username: {{ user }}</p>
                <p>Email: {{ user.email }}</p>
            </div>
            {% else %}
            <div>
                <p>Login to view your account details.</p>

            </div>

            <div class="row">
                <div class="col-12">
                    <button class="btn" id="edit-btn">Edit Profile</button>
                </div>
            </div>
           
        </div>

    
    </div>
</main>

{% endif %}

{% endblock content %}