{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<main class="profile-container container">
    <div class="row justify-content-center">
        <div class="col-md-6 bg-light">
            {% if user.is_authenticated %}
            <div class="row text-center">
                <div class="col-12">
                    <h3 class="my-5">{% block title %} {{ user.profile }} {% endblock %}</h3>
                    <img class="rounded-circle" id="profile-image" src="{{ user.profile.profile_image.url }}" alt="">
                </div>  
            </div>

            <div class="row justify-content-center my-5">
                <div class="col-8 col-md-4">
                    <p>Username:{{ request.user.username }}</p>
                    <p>Email-address: {{ request.user.email }}</p>
                </div>
                
            </div> 

            <form action="" method="POST" enctype="multipart/form-data" class="my-5">
                {% csrf_token %}
                <div class="form-group my-3">
                    {{ user_profile_form|crispy }}
                    {{ profile_update_form|crispy }}
                </div>

                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}

                <div class="form-group my-3 text-center my-5">
                    <button class="btn btn-primary" type="submit">Update Profile</button>
                </div>
            </form>
             <!-- <div class="border-top my-3 py-3 text-center">
                 <p class="pt-3">
                     <a class="my-3" href="{% url 'update_profile' %}"><strong>Update</strong></a>
                     <span>your profile here.</span>
                 </p>
             </div> -->
            {% endif %}
        </div>
    </div>
</main>

{% endblock content %}

