{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}



<main class="profile-container container">
    <div class="row justify-content-center">
        <div class="col-md-6 bg-light">
            
            {% if user.is_authenticated %}
            <div class="row text-center">
                <div class="col-12">
                    <h3 class="my-3">{% block title %} {{ user.profile }} {% endblock %}</h3>
                    <img class="rounded-circle" src="{{ user.profile.profile_image.url }}" alt="">

                </div>

              

                <div>
                     <p>Username: {{ request.user.username }}</p>
                     <p>First Name: {{ request.profile.first_name }}</p>
                     <p>Last Name: {{ profile_model.last_name }}</p>
                     <p>Email: {{ request.user.email }}</p>
                     <p>Phone: {{ user.phone_number }}</p>
                     <p>Password: {{ password }}</p>

                </div> 
                

               
           
               
                
            </div>

            
            <!-- <div class="row">
                <div class="col-md-4">
                    <p>Username:</p>
                    <p>Firstname:</p>
                    <p>Lastname:</p>
                    <p>Email:</p>
                    <p>Phone:</p>
                    <p>Username:</p>
                </div>

                <div class="col-md-4">
                    <p>{{ user }}</p>
                    <p>{{ user.first_name }}</p>
                    <p>{{ user.last_name }}</p>
                    <p>{{ user.email }}</p>
                    <p>{{ user.phone_number }}</p>
                </div>

            </div> -->
            {% else %}
             <!-- <div class="col-sm-12 col-md-8 profile">
                 <div class="row">
                     <form method="post">
                         {{ form | crispy}}
                         {% csrf_token %}
                         <button type="submit" class="btn" id="update-btn">
                            Update
                        </button>
                     </form>
                 </div>
             </div> -->
            <div>
                <p>Login to view your account details.</p>

            </div>
            {% endif %}

            <!-- <div class="row">
                <div class="col-12">
                    <button class="btn" id="edit-btn">Edit Profile</button>
                </div>
            </div> -->
           
        </div>

    
    </div>
</main>



{% endblock content %}