{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}


<main class="profile-container container">
    <div class="row justify-content-center">
        <div class="col-md-6 bg-light">

            {% if user.is_authenticated %}
            <div class="row text-center">
                <div class="col-12">
                    <h3 class="my-3">{% block title %} {{ user.profile }} {% endblock %}</h3>
                    <img class="rounded-circle" id="profile-image" src="{{ user.profile.profile_image.url }}" alt="">
                </div>
            </div>

            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group my-3">
                    {{ form.as_p }}
                    <!-- {{ form|crispy }} -->
                </div>

                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}

                <div class="form-group my-3 text-center">
                    <button class="btn btn-primary" type="submit">Update Profile</button>
                </div>
            </form>
            
            {% endif %}

        </div>
    </div>
</main>


{% endblock content %}