@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&family=Ultra&display=swap');

body {

    font-size: Lato, "Open Sans" sans-serif;
    font-weight: 400;
   
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

h1,
h2,
h3,
h4,
p,
a {
    letter-spacing: 1.2px;
}

/*--------------------------------navbar */

#logo-img img {
    width: 320px;
    border-radius: 50%;
    padding: 6px 10px;

}

#nav-menu ul li {
    
    display: flex;
    margin: 0 10px 0;
    align-items: center;
    justify-content: space-around;
}

.nav-item a {
    font-size: 100%;
   
}


.nav-item a:hover {
    opacity: .6;
}

#nav-bg {
    background: rgb(13, 19, 140);

}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}


/*-------------------------------profile page */
#profile-image {
    width: 80px;
    height: 80px;
}


/*-------------------------------booking login page */
#card-img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
}


/*-------------------------------base.html */
#message-container {
    padding: 0;
    margin: 0;
}



/*-------------------------------------footer*/

#footer-container {
    background: rgb(13, 19, 140);
    color: white;
}

#social-media-link a {
    color: white;
}