@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&family=Ultra&display=swap');

body {

    font-size: Lato, "Open Sans" sans-serif;
    font-weight: 400;
   
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

h1,
h2,
h3,
h4,
p,
a {
    letter-spacing: 1.3px;
}

/*--------------------------------navbar */
#logo-text {
    font-family: Ultra;
    margin-left: 40px;
    font-size: 30px;
   
}

#nav-menu ul li {
    
    display: flex;
    margin: 0 10px 0;
    align-items: center;
    justify-content: space-around;
}

.nav-item a {
    font-size: 100%;
   
}

.active {
    border-bottom: 2px solid #191cf3;
   
}

.nav-item a:hover {
    opacity: 1;
}


/*-------------------------------profile page */
#profile-image {
    width: 180px;
    height: 180px;
}

