@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&family=Ultra&display=swap');

body {

    font-family: Lato, "Open Sans", sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
   
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

h1,
h2,
h3,
h4,
p,
a {
    letter-spacing: 1px;
}

/*--------------------------------navbar */

#logo-img img {
    width: 320px;
    border-radius: 50%;
    padding: 6px 10px;

}

#nav-menu ul li {
    
    display: flex;
    margin: 0 10px 0;
    align-items: center;
    justify-content: space-around;
}

.nav-item a {
    font-size: 100%;
   
}


.nav-item a:hover {
    opacity: .6;
}

#nav-bg {
    background: rgb(13, 19, 140);

}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

/*--------------------------------hero image */

.hero-img-container {
    position: relative;
    overflow: hidden;
}


/*-------------------------------profile page */
#profile-image {
    width: 80px;
    height: 80px;
}


/*------------------pages with musical alert */
#card-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}


/*-------------------------------base.html */
#message-container {
    padding: 0;
    margin: 0;
}

/*-------------------------------booking_form */

.form-control {
    appearance: auto;
}

/*-------------------------------form buttons */

.form-group a,
.btn {
    margin: 5px;
}


/*-------------------------------------footer */

footer {
    position: sticky;
    top: 100vh;

}

#footer-container {
    background: rgb(13, 19, 140);
    color: white;
  
}

#social-media-link a {
    color: white;
}


/*--------------------------------media queries */

@media (min-width:320px) and (max-width: 480px) {
    /* -------------------navbar */

    #logo-img img {
        width: 220px;
        border-radius: 50%;
        padding: 6px 10px;

    }

}


