{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}


<main class=" container">
    <div class="row justify-content-center mt-3">
        <div class="col-md-6 bg-light">
            <div class="card justify-content-center align-items-center bg-light">
                <img src="https://res.cloudinary.com/dyfa8b6fs/image/upload/v1655661753/media/images/logo-circle_zxynt7.jpg"
                    class="card-img-top img-fluid img-responsive" id="card-img"
                    alt="A circle logo with text Kiwi Piano">

                <div class="row justify-content-center mt-3">
                    <div class="col-sm-12 col-lg-8 text-center">
                        <h5 class="card-title fw-bold">Musical Alert!</h5>
                        <p>Are you sure you want to cancel your booking of {{ booking }} on {{booking.date}} at {{booking.timeslot}}?</p>
                    </div>
                </div>
                <div class="text-center my-3">
                    <form method="POST">
                        {% csrf_token %}
                        <a><button class="btn bg-primary text-white fw-bold" type="submit">YES</button></a>
                        <a href="{% url 'booking_detail' booking.pk %}" class="btn bg-primary text-white fw-bold">NO</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}