{% extends "base.html" %}

{% load crispy_forms_tags %}



{% block content %}


<main class=" container">
    <div class="row justify-content-center">
        <div class="col-md-6 bg-light">
            <div class="row text-center">
                <div class="col-12">
                    <p>Update your booking</p>
                </div>
            </div>
            <form action="{% url 'booking_update' booking.pk %}" method="POST" enctype="multipart/form-data" class="my-5">
                {% csrf_token %}
                <div class="form-group my-3">
                    {{ form|crispy }}
                </div>

                <div class="justify-content-center align-items-center">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</main>


{% endblock %}