{% extends "base.html" %}

{% load crispy_forms_tags %}



{% block content %}


<main class=" container">
    <div class="row justify-content-center mt-3">
        <div class="col-md-6 bg-light">
            <div class="row text-center">
                <div class="col-12">
                    <h5 class="fw-bold mt-3">Update your booking</h5>
                </div>
            </div>
            <form action="{% url 'booking_update' booking.pk %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group my-3">
                    {{ form|crispy }}
                </div>
               <div class="form-group text-center my-3">
                   <button class="btn btn-primary fw-bold" type="submit">Update</button>
               </div>
            </form>
        </div>
    </div>
</main>


{% endblock %}