{% extends "base.html" %}

{% load crispy_forms_tags %}



{% block content %}


<main class=" container">
    <div class="row justify-content-center">
        <div class="col-md-6 bg-light mt-3">
            <div class="row text-center">
                <div class="col-12">
                    <!-- <h5 class="my-3 fw-bold">Booking details</h5> -->
                    <h5 class="my-3 fw-bold">{{ user.booking }}</h5>
                     <div class="row justify-content-center">
                        <div class="col-sm-12 col-lg-8 text-center">
                            <p><span class="fw-bold">Username:</span> {{ booking.user }}</p>
                            <p><span class="fw-bold">Session Name:</span> {{ booking.session_name }}</p>
                            <p><span class="fw-bold">Date:</span> {{ booking.date }}</p>
                            <p><span class="fw-bold">Session Time:</span> {{ booking.timeslot }}</p>
                            <p><span class="fw-bold">Email:</span> {{ user.email }}</p>
                            <p><span class="fw-bold">Phone:</span> {{ user.profile.phone_number }}</p>
                            <p><span class="fw-bold">Message:</span> {{ booking.message }}</p>
                           
                        </div>
                     </div>
                </div>
            </div>
            <div class="form-group my-3 text-center">
                <a href="{% url 'booking_update' booking.pk %}" class="btn bg-primary btn-lg">
                    <button class="btn btn-primary" type="submit">Update Booking</button>
                </a>
                <a href="{% url 'booking_cancel' booking.pk %}" class="btn bg-primary btn-lg">
                    <button class="btn btn-primary" type="submit">Cancel Booking</button>
                </a>
            </div>
        </div>
    </div>
</main>




{% endblock %}