{% extends 'base.html' %}

{% block content %}

<!------hero image------->
<div class="container-fluid hero-img-container g-0" id="hero-img">
    <div class="row">
        <img class="img-fluid img-responsive" src="https://res.cloudinary.com/dyfa8b6fs/image/upload/v1655626570/media/piano3_pawxyg.jpg" alt="A man plays piano">
    </div>
</div>

<!------accordion-------->

{% include 'components/about.html' %}

<!------session list---------->

<section class="bg-light mt-3">
    <div class="container-lg pb-3">
        <div class="text-center pt-3">
            <p>"It's easy to play any musical instrument: <br> all you have to do is touch the right
                key at the right time and the instrument will play itself." <br><br>
                <span class="fst-italic">~Johann Sebastian Bach</span>     
            </p>
        </div>
        <div class="row my-3 align-items-center justify-content-center">
            <div class="col-8 col-md-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title fw-bold fs-5 pt-2">1-on-1 lessons </h5>
                        <small class="text-muted">One hour per lesson</small>
                        <ul class="list-group pt-2">
                            <li class="list-group-item">Beginners</li>
                            <li class="list-group-item">Intermediate</li>
                            <li class="list-group-item">Advanced</li>
                            <li class="list-group-item">Exams traing</li>
                            <li class="list-group-item">Competition training</li>
                        </ul>
                        {% if user.is_authenticated %}
                        <a href="{% url 'booking_form' %}" class="btn bg-primary btn-md my-3 text-white">Book Now</a>
                        {% else %}
                        <a href="{% url 'booking_login' %}" class="btn bg-success btn-md my-3 text-white">Book Now</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-8 col-md-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title fw-bold fs-5 pt-2">Piano recital</h5>
                        <small class="text-muted">We tailor your needs</small>
                        <ul class="list-group pt-2">
                            <li class="list-group-item">Live recital</li>
                            <li class="list-group-item">Virtual performance</li>
                            <li class="list-group-item">Repertoire recording</li>
                            <li class="list-group-item">Online recital training</li>
                            <li class="list-group-item">End of year concert</li>
                        </ul>
                        {% if user.is_authenticated %}
                        <a href="{% url 'booking_form' %}" class="btn bg-primary btn-md my-3 text-white">Book Now</a>
                        {% else %}
                        <a href="{% url 'booking_login' %}" class="btn bg-success btn-md my-3 text-white">Book Now</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}


