{% load static %}

<section class="container">
    <div class="container-fluid">
        <div class="row mt-3 justify-content-around align-items-center">
            <div class="col-lg-6">
                <img class="img-fluid img-responsive rounded-circle"
                    src="https://res.cloudinary.com/dyfa8b6fs/image/upload/v1655716371/media/images/pianist1_jcvphw.jpg"
                    alt="A young pianist plays piano on the stage.">
            </div>
            <div class="col-lg-6">
                <!---accordion-->
                <div class="accordion" id="chapters">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-1">
                            <button class="accordion-button fw-bold fs-5" type="button" data-bs-toggle="collapse"
                                data-bs-target="#chapter-1" aria-expanded="true" aria-controls="chapter-1">
                                About Us
                            </button>
                        </h2>
                        <div id="chapter-1" class="accordion-collapse collapse show" aria-labelledby="heading-1"
                            data-bs-parent="#chapters">
                            <div class="accordion-body">
                                <p>
                                    I am a young concert pianist. I am studying the master's degree in piano at the Conservatory Amsterdam. 
                                    I started to play piano with my mum when I was little. I love to share my stories about both successes and failures
                                    with my own learning experiences along the way.
                                </p>
                                <p>
                                    There are three grand pianos in my studio to play on for piano lessons, piano
                                    performance or repertory recording. The studio is specially built and met with the
                                    high standard and requirements to maximize the sound quality. We have three elegant
                                    auditorium room dedicated to make your perfect music.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-2">
                            <button class="accordion-button collapsed fw-bold fs-5" type="button"
                                data-bs-toggle="collapse" data-bs-target="#chapter-2" aria-expanded="false"
                                aria-controls="chapter-2">
                                Our Passion
                            </button>
                        </h2>
                        <div id="chapter-2" class="accordion-collapse collapse" aria-labelledby="heading-2"
                            data-bs-parent="#chapters">
                            <div class="accordion-body">
                                <p>
                                    We are committed to connect you with your favorite music in a loving space to enjoy
                                    the leisure of playing piano. We specialize in piano and tailor the lessons to fit
                                    the individule needs. We provide a way of sharing love of piano with each other. We
                                    guarantee you to master your piano skills to professional level.
                                </p>
                                <p>
                                    Isn't it awesome to enjoy comfort and relax by playing Beethoven, Mozart, Chopin,
                                    Tchaikovsky, Bach, Satie, Brahms, Schubert, Burgmuller, Debussy? Sure it is and we
                                    have much more to offer. Let's play!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header fw-bold" id="heading-3">
                            <button class="accordion-button collapsed fw-bold fs-5" type="button"
                                data-bs-toggle="collapse" data-bs-target="#chapter-3" aria-expanded="false"
                                aria-controls="chapter-1">
                                What we offer
                            </button>
                        </h2>
                        <div id="chapter-3" class="accordion-collapse collapse" aria-labelledby="heading-3"
                            data-bs-parent="#chapters">
                            <div class="accordion-body">
                                <p>
                                    Kiwi Piano Studio is a concert-like venue which provides an acoustical high quality
                                    space for piano lessons, piano recital and workshops. We offer a wide range of
                                    musical activities for every piano lovers, music schools and other events of
                                    celebrations.
                                </p>

                                <p>
                                    We have brilliant piano repertoire for children and adult to discover the wider
                                    world of classical music. We offer comprehensive piano lessons for all levels.
                                </p>
                                <p>
                                    We organize small size of concert for music schools for their end of school year
                                    show or other celebrations. All of our pianos are regularly tuned and checked to
                                    ensure the best sound quality.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

