{% load static %}
 
 <footer class="container-fluid my-5" id="footer-container">
     <div class="container">
         <div class="row justify-content-center align-items-center">
             <div class="col-xs-12  col-md-4 text-center">
                <h5 class="my-3">Contact Us</h5>
                <p><i class="fa-solid fa-location-dot"></i> Kiwi Piano Studio, Auckland</p>
                <p>+31 008899922222222</p>
                <p><a href="mailto:info@kiwipiano.com">info@kiwipiano.com</a></p>
            
             </div>
             <div class="col-xs-12 col-md-4 ">
                 <div class="d-flex justify-content-evenly fs-3" id="social-media-link">
                     <a href="https://www.facebook.com/" target="_blank" rel="noopener"
                         aria-label="Visit our Facebook page (open in a new tab">
                        <i class="fab fa-facebook-square"></i>
                     </a>
                     <a href="https://www.twitter.com/" target="_blank" rel="noopener"
                         aria-label="Visit our twitter page (open in a new tab">
                        <i class="fab fa-twitter-square"></i>
                     </a>
                     <a href="https://www.instagram.com/" target="_blank" rel="noopener"
                         aria-label="Visit our instagram page (open in a new tab">
                         <i class="fab fa-instagram-square"></i>
                     </a>
                     <a href="https://www.youtube.com/" target="_blank" rel="noopener"
                         aria-label="Visit our youtube channel (open in a new tab">
                        <i class="fab fa-youtube-square"></i>
                     </a>
                 </div>
             </div>
         </div>
     </div>

     <div class="footer-copyright">
         <div class="row">
             <div class="col-md-12 text-center fs-6 fw-light">
                 <p>Copyright &copy; Kiwi Piano Studio 2022 <br>Created by Veronica Lourens</p>
                 <p class="text-muted">
                    <span class="py-3"><strong>Disclaimer:</strong> This site is only for education purpose.</span>
                 </p>
             </div>
         </div>
     </div>
 </footer>
