{% load static %}
 
 <footer class="container-fluid my-3" id="footer-container">
     <div class="container">
         <div class="row justify-content-center align-items-center">
             <div class="col-xs-12  col-md-4 text-center">
                <h5 class="my-3">Contact Details</h5>
                <p><i class="fas fa-map-marker-alt"></i>: Kiwi Piano Studio,<br>Auckland, New Zealand</p>
                <p><i class="fas fa-mobile-alt"></i>: +64 00889992222222</p>
                <p><i class="fas fa-envelope"></i>:
                    <a href="mailto:info@kiwipiano.com" class="text-white"></a>
                        info@kiwipiano.com
                </p>
             </div>
             <div class="col-xs-12 col-md-4 ">
                 <div class="d-flex justify-content-evenly fs-3" id="social-media-link">
                     <a href="https://www.facebook.com/" target="_blank" rel="noopener"
                         aria-label="Visit our Facebook page (open in a new tab">
                        <i class="fab fa-facebook-square"></i>
                     </a>
                     <a href="https://www.twitter.com/" target="_blank" rel="noopener"
                         aria-label="Visit our twitter page (open in a new tab">
                        <i class="fab fa-twitter-square"></i>
                     </a>
                     <a href="https://www.instagram.com/" target="_blank" rel="noopener"
                         aria-label="Visit our instagram page (open in a new tab">
                         <i class="fab fa-instagram-square"></i>
                     </a>
                     <a href="https://www.youtube.com/" target="_blank" rel="noopener"
                         aria-label="Visit our youtube channel (open in a new tab">
                        <i class="fab fa-youtube-square"></i>
                     </a>
                 </div>
             </div>
         </div>
     </div>
     <div class="footer-copyright">
         <div class="row">
             <div class="col-md-12 text-center fs-6 fw-light">
                 <small>Copyright &copy; Kiwi Piano Studio 2022 <br>Created by Veronica Lourens</small>
                 <p class="text-muted">
                    <small class="py-3 fst-italic"><strong>Disclaimer:</strong> 
                        This site is only for education purpose. 
                    </small>
                 </p>
             </div>
         </div>
     </div>
 </footer>
